:host {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

:root {
    --primary-color: #000000;
    --background-color: #ffffff;
    --text-color: #333333;
  }


nav {
    display: flex;
    justify-content: space-between;
    

    div {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
}



