:host {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

:root {
    --primary-color: #000000;
    --background-color: #ffffff;
    --text-color: #333333;
  }

svg {
    width: 24px;
    height: 24px;
    fill: #333333;
}

.dark-icon {
    fill: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    

    div {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
}



