.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-right: 0.5rem;

    p {
        text-align: end;
    }

    @media screen and (max-width: 1080px) {
        flex-direction: row;
        gap: 1rem;
    }
}

.unit {
    font-weight: bolder;
    font-size: 1.1rem;
}